<launch>

	<node pkg="rec_imu" name="rec_imu" type="rec_imu" output="screen">
	<remap from="rec_imu/Imu" to="imu/imu" />
	<remap from="rec_imu/FilterOutput" to="imu/filter" />

	<rosparam file="$(find rec_imu)/recoverImu.yaml"/>
    </node>   

    <node launch-prefix="gdb -ex run --args" name="msf_position_filter" pkg="msf_updates" type="position_sensor" clear_params="true" output="screen">
            <remap from="msf_core/hl_state_input" to="/fcu/ekf_state_out" />
        <remap from="msf_core/correction" to="/fcu/ekf_state_in"/>

        <remap from="msf_updates/navsatfix_input" to="/gps/fix" />
	    	
	<remap from="msf_core/imu_state_input" to="/rec_imu/recImu" />
            <!--remap from="msf_updates/transform_input" to="vicon/auk/auk" /--> 

            <rosparam file="$(find msf_updates)/position_sensor_fix.yaml"/>
    </node>
</launch>

